.container {
    display: grid;
    margin-top: 24px;
    padding: 23px 32px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #E2E5EC;
    grid-template-rows: repeat(3, 24px);
    grid-template-columns: auto 300px 300px;
    grid-template-areas:
        "title promocode ."
        "title promocode action"
        "description promocode action";
    grid-column-gap: 24px;
}

.title {
    font-size: 29px;
    grid-area: title;
    font-weight: 300;
    line-height: 42px;
}

.description {
    color: #7D7D7D;
    font-size: 15px;
    margin-top: 5px;
    line-height: 22px;
    grid-area: description;
}

.promocode {
    display: grid;
    position: relative;
    align-content: end;
    grid-area: promocode;
}

.promocodeInput {
    cursor: pointer;
    text-transform: capitalize;
}

.promocodeCopy {
    pointer-events: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.promocodeGet {
    color: #FFFFFF;
    padding: 10px 0;
    grid-area: action;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    background-color: #0085FF;
}
