.header {
    margin: 16px 0;
    font-size: 39px;
    font-weight: 300;
    font-family: Rubik;
}

.filter {
    display: grid;
    grid-column-gap: 8px;
    grid-template-rows: repeat(3, 24px);
    grid-template-columns: repeat(3, 150px) auto;
}

.input {
    display: grid;
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    align-content: end;
}

.clearFiler {
    outline: 0;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    border-radius: 4px;
    text-align: center;
    background-color: #F5F7FA;
    border: 1px solid #CFD2D9;
}