.container {
    display: inline-block;
}

.container > input {
    outline: 0;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    border-radius: 4px;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid #CFD2D9;
}

.container > input:not([readonly]):focus {
    border-color: #2F80ED;
    box-shadow: 0 0 5px #CCE7FF;
}

.label {
    color: #7D7D7D;
    display: block;
    font-size: 11px;
    margin-bottom: 7px;
    text-transform: uppercase;
}