.container {
    display: inline-block;
}

.container + .container {
    margin-left: 23px;
}

.title {
    color: #7D7D7D;
    font-size: 13px;
    line-height: 19px;
}

.text {
    font-size: 19px;
    line-height: 26px;
    font-family: Rubik;
}