.app {
  display: grid;
  min-height: 100vh;
  background-color: #F5F7FA;
  grid-template-rows: 80px auto 52px;
  grid-template-columns: 80px auto;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer"
}

.sidebar {
  grid-area: sidebar;
  background-color: #1B1D29;
}

.header {
  grid-area: header;
  background-color: #FFFFFF;
}

.content {
  padding: 24px 32px;
  grid-area: content;
}

.footer {
  grid-area: footer;
  padding: 0 32px 14px;
}