.sidebar {
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto; 
}

.logo {
    display: grid;
    color: #0085FF;
    align-content: center;
    justify-content: center;
}

.menu {
    padding-top: 24px;
}

.menuItem {
    height: 72px;
    display: grid;
    color: #888991;
    align-content: center;
    justify-content: center;
}

.menuItemActive {
    color: #FFFFFF;
}